// Variable creation
$bg: #c3bde9;


/*#####################################
############### GLOBAL ################
######################################*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color: $bg;

    div {
        display: flex;
        align-items: center;

        i {
            margin: 0 5px;
        }

        &:hover {
            color: #fff;
        }
    }
}

@mixin btn($w, $br, $bc,$c, $p) {
    width: $w;
    background-color: $bc;
    border-radius: $br;
    color: $c;
    border: 1px solid $bc;
    padding: $p;
}

.small {
    @include btn(auto, 40px, #ae0fd6, #fcfcfc, 10px 30px);
    font-size: 30px;
}

.btn {
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(239, 233, 240);
}
.success {
    @extend .btn;
    background-color: #1cda81;
    border-color: green;
    color: #fff;
}
.danger {
    @extend .btn;
    background-color: rgb(216, 78, 28);
    border-color: rgb(128, 26, 0);
    color: #fff;
}
button {
    @extend .success;
}
// HEADER STARTES HERE
// Include partials
@import '_header.scss';