<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="msg">

    </div>
    <input type="file" id="img">
    <input type="text" id="text" onkeydown="g(this.value)"><button>Send</button>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/javascripts/socket.io-stream.js"></script>
    <script>
        var socket = io();
        document.querySelector('button').addEventListener('click', function() {
          var data = document.getElementById('text').value;
          socket.emit('send', data);
        })
        

        function g(data) {
          socket.emit('send', data);
        };
        socket.on('all', function(data) {
          console.log(data)
          document.getElementById('msg').innerHTML += '<p>'+data+'</p>';
        });
    </script>
  </body>
</html>
